<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <title>Tarik tunai</title>
</head>

<body class="bg-blue-700">
    <div class="text-center text-white text-3xl mt-20">
        <h2>PILIH JUMLAH PAKET TUNAI</h2>
    </div>
    <div class="text-center flex justify-center">
        <div class="mr-60 text-white text-3xl mt-10">
            <div class="mt-20">
                <a href="ambilkartu.html">
                    <- 100.000</a>
            </div>
            <div class="mt-20">
                <a href="ambilkartu.html">
                    <- 200.000</a>
            </div>
            <div class="mt-20">
                <a href="ambilkartu.html">
                    <- 500.000</a>
            </div>
        </div>
        <div class="text-white text-3xl mt-8 text-right">
            <div class="mt-20">
                <a href="ambilkartu.html" class="mt-10">1.000.000 -></a>
            </div>
            <div class="mt-10">
                <a href="ambilkartu.html">1.500.000 -></a>
            </div>
            <div class="mt-10">
                <a href="ambilkartu.html">2.000.000 -></a>
            </div>
            <div class="mt-[50px]">
                <a href="ambilkartu.html">TRANSAKSI LAINNYA -></a>
            </div>
        </div>
    </div>
</body>

</html>