<!DOCTYh2E html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <title>BAHASA</title>
</head>

<body class="bg-blue-700">
    <div class="font-bold text-white text-center text-3xl mt-8">
        <h2>SILAHKAN PILIH BAHASA ANDA</h2>
    </div>
    <div class="w-6/12 bg-white h-px mx-auto mt-10"></div>
    <div class="font-bold text-white text-center text-3xl mt-8">
        <h2>PLEASE SELECT YOUR LANGUAGE</h2>
    </div>
    <div class="w-6/12 mx-auto text-right font-bold text-white text-3xl mt-8">
        <a href="pin.html">INDONESIA -></a>
        <h2 class="mt-28">ENGLISH -></h2>
    </div>
    <div class="font-bold text-white text-center text-3xl mt-10">
        <h2>TO OBTAIN CARD PRESS CANCEL</h2>
    </div>
    <div class="w-6/12 bg-white h-px mx-auto mt-10"></div>
    <div class="font-bold text-white text-center text-3xl mt-10">
        <h2>TEKAN 'CANCEL' UNTUK MEMBATALKAN</h2>
    </div>
</body>

</html>