<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <title>ATM</title>
</head>

<body class="bg-blue-700">
    <div class="flex ">
        <div class="w-1/2">
            <p class="text-4xl text-white font-bold mt-10 text-center">SILAHKAN MASUKAN KARTU <br> ANDA</p>
        </div>
        <div class="w-1/2 flex justify-center">
            <a href="bahasa.html">
                <img class="w-10/12 mt-36" src="/img/insert.png">
            </a>
        </div>
    </div>
    <div class="mx-28">
        <p class="text-4xl text-white font-bold ">PLEASE INSERT YOUR CARD</p>
    </div>
</body>

</html>