<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <title>Jenis Transaksi</title>
</head>

<body class="bg-blue-700">
    <div class="text-center text-white text-4xl mt-16">
        <h2>PILIH JENIS TRANSAKSI</h2>
    </div>
    <div class="flex justify-center mb-10">
        <div class="grid  space-y-20 w-2/6 text-white text-4xl mt-16">
            <button><- PENARIKAN</button>
            <button class="mr-5"><- TRANSFER</button>
            <button><- PEMBELIAN</button>
            <button class="mr-8"><- LAINNYA</button>
        </div>
        <div class="grid space-y-20 w-2/6 text-white text-4xl mt-16">
            <button>INFO REKENING -></button>
            <button class="ml-5">PEMBAYARAN -></button>
            <button class="ml-20">UBAH PIN -></button>
            <button class="ml-28" onclick="keluar()">KELUAR -></button> 
        </div>
    </div>
</body>
<script>

    function keluar(){
        window.open('ambilkartu.html');
        window.close('jenistransaksi.html');
    }
</script>
</html>