<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
</head>

<body class="bg-blue-700">

    <div class="flex ml-5 mt-10">
        <div class="font-bold mx-auto flex justify-center text-white text-3xl mt-8">
            <img src="../img/pin.png" class="w-10/12 mt">
        </div>
        <div class="font-bold text-white text-center text-3xl mt-20 mx-auto">
            <h2>MASUKAN PIN</h2>
            <form action="" onsubmit="pin()">
                <input type="password" required id="angkapin" class="border-2 text-black border-black h-8 mt-32">
                <input type="submit" value="ENTER">
            </form>
            <div class="w-8/12 mx-auto">
                <h2 class="mt-32">
                    <h2>TEKAN 'ENTER' JIKA SELESAI MEMASUKAN PIN</h2>
            </div>
        </div>
    </div>
    <script>
        function pin() {
            let pin = document.getElementById("angkapin").value;
            if (pin == '123456') {
                window.open('/view/ambiltunai.html', '_blank');
                window.close('/view/pin.html?');
            } else {
                alert('pin yang anda masukan salah')
            }
        };
    </script>
</body>

</html>